<!--h1>Public::Restrants#index</h1-->
<div class="container">
  <div class="row my-3">
    <h2>店舗一覧</h2>
  </div>
  <table class="table col-10 mx-auto">
    <thead>
      <tr class="row">
        <th class="col-2">店舗名</th>
        <th class="col-2">電話番号</th>
        <th class="col-5">店舗住所</th>
      </tr>
    </thead>
    <tbody>
    <% @restrants.each do |restrant| %>
      <tr class="row">
        <td class="col-2"><%= link_to restrant.name, restrant_path(restrant) %></td>
        <td class="col-2"><%= restrant.telephone_number %></td>
        <td class="col-5"><%= restrant.address %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= paginate @restrants %>
</div>
