<!--h1>Shop::Homes#top</h1-->
<div class="container">
  <div class="row my-3"><h4>店舗トップページ</h4></div>
    <div class="row my-4">
      <div class="col-4 offset-1"><%= link_to '新規登録はこちらから', new_restrant_registration_path, class:'btn btn-block btn-outline-success ' %></div>
      <div class="col-4 offset-1"><%= link_to 'ログインはこちらから', new_restrant_session_path, class:'btn btn-block btn-outline-info' %></div>
    </div>
    <div class="row">
      <div class="col-4 offset-1"><%= link_to '利用者の方はこちらへ', root_path, class: 'btn btn-block btn-outline-warning' %></div>
      <div class="col-4 offset-1"><%= link_to '管理者の方はこちらから', admin_path, class: 'btn btn-block btn-outline-danger' %></div>
    </div>
</div>
