<!--h1>Public::Posts#edit</h1-->
<div class="container">
  <div class="row mt-3">
    <h2 class="col-10 mx-auto">投稿編集画面</h2>
  </div>
  <div class="row mt-5">
    <%= render 'form', post: @post %>
  </div>
</div>