<!--h1>Public::Posts#index</h1-->
<div class="container">
  <div class="row my-3">
    <h2>投稿一覧</h2>
    <div class="col-2 ml-auto"><%= link_to '新規投稿', new_post_path, class: 'btn btn-block btn-outline-dark' %></div>
  </div>
  <div class="row">
    <%= render 'post', posts: @posts %>
  </div>
</div>