<!--h1>Public::Posts#index</h1-->
<div class="container">
  <div class="row my-3">
    <h2>投稿一覧</h2>
    <% unless current_user.guest_user? %>
      <div class="col-2 ml-auto"><%= link_to '新規投稿', new_post_path, class: 'btn btn-block btn-outline-dark' %></div>
    <% end %>
  </div>
  <%= render 'post', posts: @posts %>
  <%= paginate @posts %>
</div>