<!--h1>Public::Posts#index</h1-->
<div class="container col-10 mx-auto">
  <div class="row mt-3">
    <h2>投稿一覧</h2>
  </div>
  <div class="row mt-4">
    <%= render 'post', posts: @posts %>
  </div>
</div>