<div class="container">
  <div class="row"><h2>本当に退会しますか？</h2></div>
  <div class="row">
    <p class="col-10 mx-auto my-3">
      退会すると、当サイトから予約ができなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>
  <div class="row">
    <div class="col-4 offset-1"><%= link_to "退会しない", shop_mypage_path, class: "btn btn-primary btn-block" %></div>
    <div class="col-4 offset-1"><%= link_to "退会する", shop_close_path, method: :patch, class: "btn btn-danger btn-block", data: { confirm: "本当に退会しますか？" } %></div>
  </div>
</div>