<div class='container'>
  <%= form_with model: [post, comment] do |f| %>
    <%= f.text_area :body, rows:'3', placeholder: "コメントを入力してください", style: 'width: 90%' %>
    <%= f.submit "送信", class: 'btn btn-primary mb-4 ml-3' %>
  <% end %>
</div>