<div class="container">
  <div class="row my-3">
    <h2>フォロワー一覧</h2>
    <div class='col-2 ml-auto'><%= link_to '一覧に戻る', users_path, class: 'btn btn-block btn-outline-primary' %></div>
  </div>
  <% if @users.exists? %>
    <%= render 'public/users/list', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>