<div class="container">
  <div class="row my-3">
    <h2>"<%= @content %>"の検索結果</h2>
  </div>
  <% if @model == 'user' %>
    <%= render 'public/users/list', users: @records %>
  <% elsif @model == 'restrant' %>
    <%= render 'public/restrants/list', restrants: @records %>
  <% end %>
</div>
