<!--h1>Homes#about</h1-->
<div class="container">
  <h3 class="my-3">きょうのごはんとは...</h3>
  
  <p>トップページへは<%= link_to 'こちら', root_path %>から</p>
  <p>新規登録は<%= link_to 'こちら',new_user_registration_path %>から</p>
  <p>登録済みの方は<%= link_to 'こちら',new_user_session_path %>から</p>
</div>