<h1>Homes#top</h1>

<p>新規登録は<%= link_to 'こちら', new_user_registration_path %>から</p>
<p>登録済みの方は<%= link_to 'こちら', new_user_session_path %>から</p>
<p>ログアウトは<%= link_to 'こちら', destroy_user_session_path, method: :delete %>から</p>