<!--h1>Admin::Homes#top</h1-->
<div class="container">
  <div class="row my-3"><h4>管理者トップページ</h4></div>
    <div class="row">
      <div class="col-4"><%= link_to 'ログインはこちらから', new_admin_session_path, class: 'btn btn-block btn-outline-info' %></div>
      <div class="col-4"><%= link_to '利用者の方はこちらへ', root_path, class: 'btn btn-block btn-outline-warning' %></div>
      <div class="col-4"><%= link_to '店舗登録', shop_path ,class: 'btn btn-block btn-outline-danger' %></div>
    </div>
</div>