<!--h1>Admin::Posts#index</h1-->
<div class="container col-10 mx-auto mt-3">
  <div class="row">
    <h2>投稿一覧</h2>
  </div>
  <div class="row mt-4">
    <%= render 'post', posts: @posts %>
  </div>
</div>
