<table class="table">
  <thead>
    <tr class="row">
      <th class="col-1 offset-1">ID</th>
      <th class="col-2">店舗名</th>
      <th class="col-3">メールアドレス</th>
      <th class="col-2">営業状況</th>
      <th class='col-2'></th>
    </tr>
  </thead>
  <tbody>
  <% restrants.each do |restrant| %>
    <tr class="row">
      <td class="col-1 offset-1"><%= restrant.id %></td>
      <td class="col-2"><%= link_to restrant.name, admin_restrant_path(restrant) %></td>
      <td class="col-3"><%= restrant.email %></td>
      <td class="col-2">
        <% if restrant.is_open %>
          <p style="color: green">営業中</p>
        <% else %>
          <p style="color: gray">退会済</p>
        <% end %>
      </td>
      <td class="col-2"><%= link_to '編集する', edit_admin_restrant_path(restrant), class: 'btn btn-outline-info' %></td>
    </tr>
  <% end %>
  </tbody>
</table>