<table class="container">
  <tr class="row mb-2">
    <td class="col-4">名前</td>
    <td class="col-8"><%= user.name %></td>
  </tr>
  <tr class="row mb-2">
    <td class="col-4">メールアドレス</td>
    <td class="col-8"><%= user.email %></td>
  </tr>
  <tr class="row mb-2">
    <td class="col-4">自己紹介</td>
    <td class="col-8"><%= user.introduction %></td>
  </tr>
  <tr class="row mb-2">
    <td class="col-4">会員ステータス</td>
    <td class="col-8">
      <% if user.is_active %>
        <p>有効</p>
      <% else %>
        <p>退会済</p>
      <% end %>
    </td>
  </tr>
  <tr class="row">
    <td class="col-4 offset-1"><%= link_to '編集する', edit_admin_user_path(user), class: 'btn btn-block btn-info' %></td>
  </tr>
    <!--
    <tr><td><#%= link_to 'フォロー一覧', user_followings_path %></td></tr>
    <tr><td><#%= link_to 'フォロワー一覧', user_followers_path %></td></tr>
    -->
</table>