<table class="container table">
  <thead>
    <tr class="row mt-3">
      <th class="col-2">プロフィール画像</th>
      <th class="col-2">ニックネーム</th>
      <th class="col-4">自己紹介文</th>
      <th class="col-2">会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr class="row">
      <td class="col-2"><%= image_tag user.get_profile_image, size: "50x50" %></td>
      <td class="col-2"><%= link_to user.name, admin_user_path(user) %></td>
      <td class="col-4"><%= user.introduction %></td>
      <td class="col-2">
        <% if user.is_active %>
          <p>有効</p>
        <% else %>
          <p>退会済</p>
        <% end %>
      </td>
      <!--<td>
        <#% if current_user.following?(@user) %>
          <#%= link_to 'フォロー解除する', user_relationship_path(@user), method: :delete %>
        <#% else %>
          <#%= link_to 'フォローする', user_relationships_path(@user), method: :post %>
        <#% end %>
      </td>-->
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <%= paginate users %>
</div>