<table class="table mt-3">
  <thead>
    <tr class="row">
      <th class="col-2">ユーザーID</th>
      <th class="col-3">ニックネーム</th>
      <th class="col-5">自己紹介文</th>
      <th class="col-2">会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% unless user.guest_user? %>
      <tr class="row">
        <td class="col-2"><%= user.id %></td>
        <td class="col-3"><%= link_to user.name, admin_user_path(user) %></td>
        <td class="col-5"><%= user.introduction %></td>
        <td class="col-2">
          <% if user.is_active %>
            <p style="color: green">有効</p>
          <% else %>
            <p style="color: gray">退会済</p>
          <% end %>
        </td>
      <!--<td>
        <#% if current_user.following?(@user) %>
          <#%= link_to 'フォロー解除する', user_relationship_path(@user), method: :delete %>
        <#% else %>
          <#%= link_to 'フォローする', user_relationships_path(@user), method: :post %>
        <#% end %>
      </td>-->
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="row">
  <%= paginate users %>
</div>