<!--h1>Admin::Users#index</h1-->
<div class="container">
  <div class="row my-3">
    <h2 class="col-11 mx-auto">会員一覧</h2>
  </div>
  <div class="row">
    <%= render 'list', users: @users %>
  </div>
</div>