<table class="container">
  <tr class="row mb-2">
    <th class="col-2">名前</th>
    <td class="col-8"><%= user.name %></td>
  </tr>
  <% unless current_user.guest_user? %>
    <% if user == current_user %>
      <tr class="row mb-2">
        <th class="col-2">名字</th>
        <td class="col-2"><%= user.family_name %></td>
        <th class="col-2">名前</th>
        <td class="col-2"><%= user.first_name %></td>
      </tr>
    <% end %>
  <% end %>
  <tr class="row mb-4">
    <th class="col-2">一言</th>
    <td class="col-8"><%= user.introduction %></td>
  </tr>
</table>