<table class="container">
  <tr class="row mb-2">
    <th class="col-4">名前</th>
    <td class="col-8"><%= user.name %></td>
  </tr>
  <tr class="row mb-2">
    <th class="col-4">自己紹介</th>
    <td class="col-8"><%= user.introduction %></td>
  </tr>
</table>